@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" href="~/css/DockGantt/schedulerpro.stockholm.css" id="bryntum-theme" />
<link rel="stylesheet" type="text/css" href="~/css/DockGantt/shared.css" />
<link rel="stylesheet" type="text/css" href="~/css/DockGantt/app.css" />
	<link rel="stylesheet" href="~/css/DockGantt/index.css">
<div id="container">
    <div id="main"></div>
</div>


<script src="~/lib/DockGantt/localization/zh.js"></script>
<script data-default-locale="Zh" src="~/lib/DockGantt/schedulerpro.umd.js"></script>

<script type="module" src="~/lib/DockGantt/index.js"></script>



